.pagination {
  justify-content: end;
}

@media (max-width:300px) {
  .add-button {
    width: 100%;
  }
}

.custom-overflow {
  width: 100%;
  /* white-space: nowrap; */
  max-lines: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}